@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Black.ttf") format("ttf");
    src: url("../fonts/Poppins-BlackItalic.ttf") format("ttf");
    src: url("../fonts/Poppins-Bold.ttf") format("ttf");
    src: url("../fonts/Poppins-ExtraBold.ttf") format("ttf");
    src: url("../fonts/Poppins-ExtraLight.ttf") format("ttf");
    src: url("../fonts/Poppins-Medium.ttf") format("ttf");
    src: url("../fonts/Poppins-Regular.ttf") format("ttf");
    src: url("../fonts/Poppins-SemiBold.ttf") format("ttf");
    src: url("../fonts/Poppins-Thin.ttf") format("ttf");
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: white;
}

.wrapper {
    margin: 0 10.35%;
}

.header {
    width: 100%;
    min-height: 98px;
    margin-bottom: 30px;
    padding: 10px;
    display: grid;
    grid-template-areas: "logo nav sign";
    grid-template-columns: 180px 1fr 231px;
    align-items: center;
    gap: 10px;
}

.header img {
    width: 100%;
}

.logo {
    grid-area: logo;
}

.nav {
    grid-area: nav;
}

.nav-list {
    display: flex;
    justify-content: right;
}

.nav-list li {
    color: #2F281E;
    font-size: 14px;
    margin-right: 15px;
}

.sign {
    grid-area: sign;
}

.btn {
    font-weight: 600;
    background-color: #FF9900;
    border-radius: 4px;
    height: 46px;
    text-decoration: none;
    color: white;
    border: 1px solid #FF9900;
    cursor: pointer;
}

.btn a, .nav-list li a {
    text-decoration: inherit;
    color: inherit;
}

.btn:active {
    border: 1px solid #BCD0E5;
    background-color: white;
    color: #000;
}

.right {
    width: 110px;
    margin-left: 14px;
}

.left {
    width: 102px;
}

.first-section {
    display: grid;
    grid-template-areas: "article img";
    grid-template-columns: 1fr 1fr;
}

.first-section article {
    grid-area: article;
}

.img {
    grid-area: img;
}

.first-section h2 {
    padding-top: 15%;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 30px;
}

.first-section p {
    line-height: 28px;
    margin-bottom: 45px;
    font-size: 18px;
}

.get-started {
    display: flex;
    align-items: center;
}

.first-section .get-started .btn {
    margin-right: 30px;
    width: 175px;
}

.first-section .get-started img {
    margin-right: 10px;
}

.first-section .get-started>a {
    color: #FF9900;
    width: 135px;
    line-height: 24px;
}

.img-with-people {
    width: 100%;
}

.second-section {
    text-align: center;
    padding-bottom: 50px;
}

.tools {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tool {
    min-width: 200px;
    max-width: 250px;
    padding-bottom: 60px;
}

.second-section h3  {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    width: 100%;
    padding: 70px 0;
    text-align: center;
}

.second-section h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.second-section img {
    margin-bottom: 30px;
}

.second-section p {
    font-weight: 500; 
    line-height: 26px;
}

.second-section .btn {
    width: 175px;
}

.section {
    display: grid;
    grid-template-areas: "article img";
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    gap: 20px;
}

.section article {
    grid-area: article;
}

.section .img {
    grid-area: img;
}

.section img {
    width: 100%;
}

.section h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin: 0 0 22px;
}

.section h5 {
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 12px;
}

.section p {
    margin-bottom: 25px;
}

.fourth-section {
    grid-template-areas: "img article";
}
 .fourth-section .list {
    display: grid;
    align-items: center;
    grid-template-columns: 36px 1fr;
    gap: 20px;
 }

.list span {
    line-height: 20px;
} 

.footer {
    border-top: rgba(188, 208, 229, 0.4969) solid 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 390px;
    padding: 102px 0 80px 0;
}

.footer img {
    width: 22%;
    min-width: 100px;
    align-self: flex-start;
    margin-right: 40px;
}

.footer .btn {
    height: 39px;
    font-weight: 700;
    width: 131px;
}

.input {
    height: 48px;
    min-width: 212px;
    width: 100%;
    padding: 10px 15px;
    border: rgba(188, 208, 229, 0.4969) solid 1px;
    border-radius: 4px;
    margin-bottom: 21px;
}

.footer ul {
    margin-right: 10px;
    width: max-content;
}

.footer li {
    line-height: 36px;
}

.footer li a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 768px) {
    .header {
        grid-template-areas: "logo sign" "nav nav";
        grid-template-columns: 170px 231px;
        justify-content: space-between;
    }

    .nav-list {
       justify-content: center;
    } 

    .first-section, .section {
        grid-template-areas: "article article" "img img";
    }
} 

@media only screen and (max-width: 425px) {
    .header {
        grid-template-columns: 170px 1fr;
        grid-template-areas: "logo logo" "nav nav" "sign sign";
        justify-items: center;
        padding-top: 20px;
        gap: 20px;
    }

    .nav-list {
       justify-content: left;
    } 
    
    .logo {
        width: 170px;
    }

    .tools {
        justify-content: space-evenly;
    }

    .footer {
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .footer img {
        display: none;
    }

    .footer ul {
        margin-bottom: 20px;
    }
} 